body {
  background: #929292;
  font-family: "Helvetica Neue";
  margin: auto;
  width: 1280px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

section {
  display: none;
}

.active {
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  font-size: 36px;
  line-height: 1.5em;
  margin-bottom: 40px;
  padding: 40px;
  position: fixed;
  height: 720px;
  width: 1200px;
  -webkit-transform: translate3d(0,0,0);
}

h1 {
  font-size: 72px;
  margin-top: 0;
}

.big h1 {
  text-align: center;
  margin-top: 300px;
  font-size: 256px;
}
